<!-- controller.main -->

<!-- Header -->
<div class="row header" ng-cloak>
	<div class="col-md-12">
	</div>
</div>

<!-- KPIs -->
<div class="row">
	<div class="col-md-4">
		<div class="fkpi">
			<h3>CRM Overview</h3>
			<p>Analyze everything from accounts and opportunities to sales representative's performance. Answer questions such as: What are the top 10 closed won opportunities? </p>
			<p>What stage are the current opportunities in? Is there a correlation between the number of customers and the opportunity value and number won? There’s even a built-in analysis comparing two sales representatives performance!</p>
			<div class="text-center"><img src="img/bg-gray.png" class="devider"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<get-object qvid="'vHWjLJ'" id="'vHWjLJ'" height="150" interaction="true"></get-object>
	</div>
	<div class="col-md-3">
		<get-object qvid="'UXVLb'" id="'UXVLb'" height="150" interaction="true"></get-object>
	</div>
	<div class="col-md-3">
		<get-object qvid="'PFZACS'" id="'PFZACS'" height="150" interaction="true"></get-object>
	</div>
	<div class="col-md-3">
		<get-object qvid="'yzRFmv'" id="'yzRFmv'" height="150" interaction="true"></get-object>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<get-object qvid="'BghTnb'" id="'BghTnb'" height="400" interaction="true"></get-object>
	</div>
</div>
