<!-- controller.main -->

<!-- Header -->
<div class="row header" ng-cloak>
	<div class="col-md-12">
	</div>
</div>

<!-- KPIs -->
<div class="row">
	<div class="col-md-4">
		<div class="fkpi">
			<h3>Value of Deals</h3>
			<div class="text-center"><img src="img/bg-gray.png" class="devider"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<get-object qvid="'AcEYyk'" id="'AcEYyk'" height="400" interaction="true"></get-object>
	</div>
	<div class="col-md-6">
		<get-object qvid="'bCxmKa'" id="'bCxmKa'" height="400" interaction="true"></get-object>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<get-object qvid="'HKAFnk'" id="'HKAFnk'" height="400" interaction="true"></get-object>
	</div>
	<div class="col-md-6">
		<get-object qvid="'nkaxQP'" id="'nkaxQP'" height="400" interaction="true"></get-object>
	</div>
</div>
